@{
    ViewBag.Title = "Inicio";
    ViewBag.OpcionActiva = "Inicio";
}

<h1>
    ¡Bienvenido(a) a Admin Abonos!
</h1>

<p>
    Sistema de gestión para el control eficiente de productos y abonos.
</p>